/*
 * Globals
 */

/* Links */
a,a:focus,a:hover { color: #fff;}

/* Custom default button */
.btn-default,.btn-default:hover,.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  /*background-image: url("../images/banner.jpg");*/
  /*background-repeat: no-repeat;*/
  /*background-size: 100%;*/
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 0px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.row{ margin-right: 0px; margin-left: 0px;}
.well { margin:0px 1%;}
.header1 { box-shadow: 0px 26px 30px -20px #dddddd; margin-bottom: 10px; }
.header1 .banner { display: block; width: 100%; text-align: center; background-color: #fff;}
.header1 .banner img { width: 55%; }
.header1 .navbar { margin-bottom: 1px; border-radius: 0px; }
.header1 .navbar .navbar-nav { text-align: center; }
.header1 .navbar .navbar-nav li a { font-size: 18px; }
.header1 .navbar-inverse .navbar-nav > .active > a { font-size: 20px; }

.ads { padding: 10px; }
.ads img { width: 100%; }

.home { display: block; width: 100%; }
.home .topBanner { color: #fff; margin: 0px 0px 10px 0px; padding: 0px; text-align-last: left; }
.home .topBanner img { width: 100%; }
.home .topBanner .owl-carousel .owl-item h4 { position: absolute; color: #fff; top: 35%; padding: 5px; font-size: 30px; }

@media only screen and (max-width: 340px) and (min-width: 650px) { .home .topBanner .owl-carousel .owl-item h4 { position: absolute; color: #fff; top: 15%; padding: 5px; font-size: 22px; vertical-align: top; } }
.about { display: block; padding: 10px 15px; color:#626262;text-align: left;}
.about h1 { font-size: 24px; font-weight: bold; text-decoration: underline; text-align: center;}
.about h2 { font-size: 22px; }
.about p { font-size: 16px; text-shadow: none;}
.about .ads-train { width: 100%; margin: auto; display: inline-block; text-align: center; }
.about .ads-train img { width: 80%; height: 180px; }

.categories h1 { text-align: center; text-decoration: underline; font-size: 24px; }
.categories .cate-ul { text-align: left; list-style: none; padding-left: 5%; }
.categories .cate-ul li { padding: 10px; }
.categories .cate-ul li a { font-size: 20px; }

.articles{ color:#626262; text-align: left; }
.articles h1 { text-align: center; font-size: 24px; text-decoration: underline;}
.articles ul { display: block; list-style: none; }
.articles ul li h3 { font-size: 20px; }
.articles ul li .summary { font-size: 18px; }
.articles ul li .readMore { color: green; text-decoration: none; font-size: 18px; }
.articles ul li .readMore:hover { text-decoration: underline; }
.articles img { width: 100%; }
.articles hr { color: #000; border: 3px dashed; }

.review { width: 100%; text-align: center; color:#626262; }
.review h1 { font-size: 24px; color: #fff;}
.review #carousel-example-generic .carousel-inner { text-decoration: none; text-align: center; }
.review #carousel-example-generic .carousel-inner .item { background-color: #fff; padding: 25px; border: 1px solid #626262; border-radius: 20px; margin-bottom: 5px; background-color: #fff; margin: 2%; }
.review #carousel-example-generic .carousel-inner .item p { width: auto; font-size: 16px; text-shadow: 0 1px 1px rgba(0,0,0,.5);}
.review #carousel-example-generic .carousel-inner .item p .fa-star { color: #FFD700; }
.review #carousel-example-generic .carousel-inner .item span { font-size: 18px; text-align: right; color: red; }
.review #carousel-example-generic .carousel-indicators{ bottom: 0px; margin-top: 10px; visibility: hidden;}


.contact { text-align: center; background-color: burlywood; padding: 5px; margin-bottom: 10px; color: #626262; text-shadow: 0px 1px 0px rgba(0,0,0,.5);}
.contact h1 { text-decoration: underline; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-weight: bold; text-align: center; font-size: 24px; }
.contact p { font-size: 16px; margin: 10px;}
.contact .email { font-size: 16px; color: #ddd; }
.contact .email:hover { color: #eee; text-decoration: underline; text-shadow: none;}
.contact hr { margin-bottom: 10px; }
.contact .connections { list-style: none; display: inline-block; padding: 5px; margin: 0px; }
.contact .connections li { display: inline-block; text-align: center; margin: 0px 1px; }
.contact .connections li a .fa { border: 2px solid #626262; padding: 10px; border-radius: 50%; width: 50px; color: #626262; font-size: 25px; margin: 0px 10px; }
.contact .connections li a .fa:hover { border: 2px solid #fff; color: #fff; }
.contact .connections li a .fb:hover { background-color: #3b5998; }
.contact .connections li a .gp:hover { background-color: #d34836; }
.contact .connections li a .tw:hover { background-color: #2cb2e4; }
.contact .connections li a .pt:hover { background-color: #C92228; }
.contact .connections li a .yt:hover { background-color: #e52d27; }

.likebox_area { width: 100%; display: block; margin: 10px 0px; }
.likebox_area .like-box { margin: 5px auto; text-align: center; }
.likebox_area .like-box .btn .fa { font-weight: bold; color: #fff; width: 20px; text-align: center; }
.likebox_area .like-box .fb { background-color: #3b5998; color: #fff; }
.likebox_area .like-box .tw { background-color: #2cb2e4; color: #fff; }
.likebox_area .like-box .gp { background-color: #d34836; color: #fff; }

.footer1 { width: 100%; color: #626262; }
.footer1 .footerLinks { background-color: #000; border: 1px 0px solid #eee; width: 100%; color: #626262; height: auto; text-align: center; margin: 0px; }
.footer1 .footerLinks ul { display: inline-block; padding: 10px; margin: 0px; width: 100%; }
.footer1 .footerLinks ul li { display: inline-block; padding: 5px; }
.footer1 .footerLinks ul li:nth-child(odd) { border-right: 1px solid #ddd; }
.footer1 .footerLinks ul li a { text-decoration: none; font-weight: bold; font-size: 15px; }
.footer1 .footerLinks ul li a:hover { text-decoration: underline; }
.footer1 .copyRight { background-color: #101010; height: auto; padding: 5px; text-align: center; width: 100%; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; color: #ffffff; }
