header.header1
    .banner
        img(src='images/logo.svg')
        .bannerText About German Shepard Dog
        hr.container
        .tagLine ... Ultimate wikipedia on German Shephard Dogs ...

    include nav.jade
