$Hfont-family: Verdana, Geneva, sans-serif; //Header Font Family
$Hfont-size: 18px;  //Header Font size
$Hafont-size: 20px; //Header link Font size
$Hfont-color: #fff; //Header Font Color

$Bfont-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$Bfont-size: 12px;
$Bfont-color: #626262;

$Ffont-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$Ffont-size: 14px;
$Ffont-color: #626262;
$copyRightColor: #ffffff;

$h1-fontSize: 24px;
$h2-fontSize: 22px;
$h3-fontSize: 20px;
$p-fontSize: 16px;


*{
    padding: 0px;
    margin: 0px;
    font-family: $Bfont-family;
    font-size: $Bfont-size;
    color: $Bfont-color;
}
a{
    cursor: pointer;
}
.container-fluid{
    padding: 0px;
    margin: 0px;
}
.site-wrapper{
}
.row{
    margin: auto;
}
.well{
    margin:10px 1%;
    width: 98%;
    border: 1px solid #626262;
}
//=====================================Header========================================
.header1{
    // border-bottom: 2px solid red;
    box-shadow: 0px 26px 30px -20px #dddddd;
    margin-bottom: 10px;
    .banner{
        display: block;
        width: 100%;
        text-align: center;
        img{
            width: 100%;
        }
    }
    .navbar{
        margin-bottom: 1px;
        border-radius: 0px;
        .navbar-nav{
            text-align: center;
            li a{
                font-size:$Hfont-size;
            }
        }
        .navbar-form{
            // display: inline-block;
        }
    }
    .navbar-inverse .navbar-nav>.active>a{
        font-size:$Hafont-size;
    }
}
@media only screen and (min-width: 480px) {
    .header1 .banner img{
        width: 50%;
    }
}
///*=================================Footer===========================================*/
.footer1{
    width: 100%;
    color: $Ffont-color;
    .footerLinks{
        background-color: #000;
        border: 1px 0px solid #eee;
        width: 100%;
        color: $Ffont-color;
        height: auto;
        text-align: center;
        margin: 0px;
        ul{
            display: inline-block;
            padding: 10px;
            margin: 0px;
            width: 100%;
            li{
                display: inline-block;
                padding: 5px;
                &:nth-child(odd){
                    // border-right: 0px;
                    border-right: 1px solid #ddd;
                }
                a{
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 15px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .copyRight{
        background-color: #101010;
        height: auto;
        padding: 5px;
        text-align: center;
        width: 100%;
        font-family: $Ffont-family;
        color: $copyRightColor;

    }
}
///*---------------------------- Ads --------------------------------*/
.ads{
    // border: 1px solid red;
    padding:10px;
    img{
        width: 100%;
        // margin: 5px;
    }
}
///*---------------------------- Home --------------------------------*/
.home{
    display: block;
    width: 100%;
    .topBanner{
        color: #fff;
        margin:0px 0px 10px 0px;
        padding: 0px;
        text-align-last: left;
        img{
            width: 100%;
        }
        .owl-carousel .owl-item h4{
            position: absolute;
            color: #fff;
            top: 35%;
            padding: 5px;
            font-size: 30px;
        }
    }
}
@media only screen and (max-width: 340px) and (min-width: 650px) {
    .home .topBanner .owl-carousel .owl-item h4{
        position: absolute;
        color: #fff;
        top: 15%;
        padding: 5px;
        font-size: 22px;
        vertical-align: top;
    }
}
///*---------------------------- About --------------------------------*/
.about{
    display: block;
    padding: 10px 15px;
    h1{
        font-size: $h1-fontSize;
        font-weight:bold;
        text-decoration: underline;
    }
    h2{
        font-size: $h2-fontSize;
    }
    p{
        font-size: $p-fontSize;
    }
    .ads-train{
        width: 100%;
        margin: auto;
        display: inline-block;
        text-align: center;
        img{
            width: 80%;
            height: 180px;
        }
    }
}
///*---------------------------- Categories --------------------------------*/
.categories{
    h1{
        text-align: center;
        text-decoration: underline;
        font-size: $h1-fontSize;
    }
    .cate-ul{
        text-align: left;
        list-style: none;
        padding-left: 5%;
        li{
            padding: 10px;
            a{
                font-size: 20px;
                &:hover{

                }
            }
        }
    }


}
///*---------------------------- Articles --------------------------------*/
.articles{
    h1{
        text-align: center;
        font-size: $h1-fontSize;
        text-decoration: underline;
    }
    ul{
        display: block;
        list-style: none;
        li{
            h3{
                font-size: $h3-fontSize;
            }
            .summary{
                font-size: 18px;
            }
            .readMore{
                color:green;
                text-decoration: none;
                font-size: 18px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    img{
        width: 100%;
    }
    hr{
        color: #000;
        border: 3px dashed;
    }

}
///*---------------------------- Reviews --------------------------------*/
$reviewFont-size: 18px;
.review{
    h1{
        font-size: $h1-fontSize;
    }
    width: 100%;
    // border-top:3px double #000;
    // border-bottom:3px double #000;
    text-align: center;
    // background-color: #80aaff;
    // color: #fff;
    .owl-carousel1{
        text-decoration: underline;
        text-align: center;
        .item{
            display: inline-block;
            padding: 25px;
            border: 1px solid #626262;
            border-radius: 20px;
            margin-bottom: 5px;
            background-color:#fff;
            margin:2%;
            p{
                width: auto;
                font-size: $p-fontSize;
                .fa-star{
                    color: #FFD700;
                }
            }
            span{
                font-size: $reviewFont-size;
                text-align: right;
                color:red;
            }
        }
    }
}
///*---------------------------- Contact --------------------------------*/
.contact{
    // width: 100%;/
    text-align: center;
    background-color: burlywood;
    padding: 5px;
    margin-bottom: 10px;
    h1{
        text-decoration: underline;
        font-family: $Ffont-family;
        font-weight: bold;
        text-align: center;
        font-size: $h1-fontSize;
    }
    p{
        font-size: $p-fontSize;
        margin: 10px;
    }
    .email{
        font-size: 16px;
        color: #ddd;
        &:hover{
            color:#eee;
            text-decoration: underline;
        }
    }
    hr{
        margin-bottom: 10px;
    }
    .connections{
        list-style: none;
        display: inline-block;
        padding:5px;
        margin: 0px;
        li{
            display: inline-block;
            text-align: center;
            margin: 0px 1px;
            a .fa{
                border: 2px solid #626262;
                padding: 10px;
                border-radius: 50%;
                width: 50px;
                color: #626262;
                font-size: 25px;
                margin: 0px 10px;
                &:hover{
                    border: 2px solid #fff;
                    color: #fff;
                }
            }
            a .fb{
                &:hover{
                    background-color: #3b5998;
                }
            }
            a .gp{
                &:hover{
                    background-color: #d34836;
                }
            }a .tw{
                &:hover{
                    background-color: #2cb2e4;
                }
            }
            a .pt{
                &:hover{
                    background-color: #C92228;
                }
            }
            a .yt{
                &:hover{
                    background-color: #e52d27;
                }
            }
        }
    }
}
///*---------------------------- Like Area --------------------------------*/
.likebox_area{
    width: 100%;
    display: block;
    margin: 10px 0px;
    .like-box{
        margin:5px auto;
        text-align: center;
        .btn .fa{
            font-weight: bold;
            color: #fff;
            width: 20px;
            text-align: center;
        }
        .fb{
            background-color: #3b5998;
            color: #fff;

        }
        .tw{
            background-color: #2cb2e4;
            color: #fff;

        }
        .gp{
            background-color: #d34836;
            color: #fff;

        }

    }
}
