$Hfont-family: Verdana, Geneva, sans-serif;
$Hfont-size: 14px;
$Hfont-color: #fff;

$Bfont-family: Verdana, Geneva, sans-serif;
$Bfont-size: 12px;
$Bfont-color: #000;

$Ffont-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$Ffont-size: 14px;
$Ffont-color: #fff;


*{
    padding: 0px;
    margin: 0px;
    font-family: $Bfont-family;
    font-size: $Bfont-size;
    color: $Bfont-color;
}
.container-fluid{
    padding: 0px;
    margin: 0px;
}
.site-wrapper{
    /*background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;*/
}

//=====================================Header========================================
.header1{
    // border-bottom: 2px solid red;
    box-shadow: 0px 26px 30px -20px #dddddd;
    margin-bottom: 10px;
    .banner{
        display: block;
        width: 100%;
        text-align: center;
        img{
            width: 100%;
        }
    }
    .navbar{
        margin-bottom: 1px;
    }
    .navbar-inverse .navbar-nav>.active>a{
        font-size: $Hfont-size;
    }
}
@media only screen and (min-width: 480px) {
    .header1 .banner img{
        width: 50%;
    }
}

///*=================================Footer===========================================*/
.footer1{
    width: 100%;
    color: $Ffont-color;
    .footerLinks{
        background-color: #eee;
        width: 100%;
        color: $Ffont-color;
        height: auto;
        text-align: center;
        ul{
            display: inline-block;
            padding: 10px;
            margin: 0px;
            width: 100%;
            li{
                display: inline-block;
                border-right: 1px solid #ddd;
                &:last-child{
                    border-right: 0px;
                }
                a{
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .copyRight{
        background-color: #101010;
        height: auto;
        padding: 5px;
        text-align: center;
        width: 100%;
        font-family: $Ffont-family;
        color: $Ffont-color;

    }
}
///*----------------------------Sections --------------------------------*/
.home{
    width: 100%;
    .topBanner{
        img{
            width: 100%;
        }
    }
    .ad1{
        border: 1px solid red;
    }
}

.about{

}
.review{

}
.contact{
    width: 100%;
    text-align: center;
    background-color: green;
    padding: 10px;
    h2{
        text-decoration: underline;
        font-size: 18px;
        font-weight: bold;
    }
    p{
        margin: 10px
    }
    .email{
        color:#eee;
        &:hover{
            color: #ddd;
            text-decoration: underline;
        }
    }
    hr{
        margin-bottom: 10px;
    }
    .connections{
        list-style: none;
        display: inline-block;
        padding:5px;
        margin: 0px;
        li{
            display: inline-block;
            text-align: center;
            margin: 0px 1px;
            a .fa{
                border: 2px solid #000;
                padding: 10px;
                border-radius: 50%;
                width: 40px;
                color: #000;
                border: 2px solid #000;
                font-size: 15px;
                &:hover{
                    border: 2px solid red;
                    color: red;
                }

            }
        }
    }
}
