$Hfont-family: Verdana, Geneva, sans-serif; //Header Font Family
$Hfont-size: 18px;  //Header Font size
$Hafont-size: 20px; //Header link Font size
$Hfont-color: #fff; //Header Font Color

$Bfont-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$Bfont-size: 12px;
$Bfont-color: #626262;

$Ffont-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$Ffont-size: 14px;
$Ffont-color: #4285F4;
$copyRightColor: #ffffff;

$h1-fontSize: 24px;
$h2-fontSize: 22px;
$h3-fontSize: 20px;
$h4-fontSize: 18px;
$p-fontSize: 16px;


*{
    padding: 0px;
    margin: 0px;
    font-family: $Bfont-family;
    font-size: $Bfont-size;
    color: $Bfont-color;
}
a{
    cursor: pointer;
}
.container-fluid{
    padding: 0px;
    margin: 0px;
}
.site-wrapper{
}
.row{
    margin: auto;
}
.well{
    margin:10px 1%;
    width: 98%;
    border: 1px solid #626262;
}
//=====================================Header========================================
.header1{
    // border-bottom: 2px solid red;
    box-shadow: 0px 26px 30px -20px #dddddd;
    margin-bottom: 10px;
    .banner{
        display: block;
        width: 100%;
        text-align: center;
        img{
            width: 50%;
            margin: 10px;
        }
        .bannerText{
            color: #494444;
            font-size: large;
            font-family: "Times New Roman";
        }
        hr{
            border:1px solid #4285F4;
            display: none;
            margin: 5px 0px;
        }
        .tagLine{
            padding: 5px;
            color: #4285F4;
            font-size: 18px;
            font-style: italic;
            display: none;
        }
    }
    .navbar{
        margin-bottom: 1px;
        border-radius: 0px;
        background-color: #595959;
        .navbar-nav{
            text-align: center;
            width: 100%;
            margin:0px;
            li a{
                font-size:$Hfont-size;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                .fa-home{
                    color: #fff;
                }
            }
        }
        .navbar-form{
            display: inline-block;
            background-color: #4285F4;
            margin: 0px;
            width: 100%;
            // border: 1px solid #101010;
            .form-group{
                .form-control{
                    width: 84%;
                    display: inline-block;
                    float: left;
                    margin-right: 2px;
                }
                .search{
                    // width: 20%;
                    display: inline-block;
                    float: right;
                }
            }
        }
    }
    .navbar-inverse .navbar-nav>.active>a{
        font-size:$Hafont-size;
    }
}
///*=================================Footer===========================================*/
.footer1{
    width: 100%;
    color: $Ffont-color;
    .footerLinks{
        background-color: #383636;
        border: 1px 0px solid #eee;
        width: 100%;
        color: $Ffont-color;
        height: auto;
        text-align: center;
        margin: 0px;
        ul{
            display: inline-block;
            padding: 10px;
            margin: 0px;
            width: 100%;
            li{
                display: inline-block;
                padding: 5px;
                &:nth-child(odd){
                    // border-right: 0px;
                    border-right: 1px solid #ddd;
                }
                a{
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 15px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .copyRight{
        background-color: #101010;
        height: auto;
        padding: 5px;
        text-align: center;
        width: 100%;
        font-family: $Ffont-family;
        color: $copyRightColor;

    }
}
///*---------------------------- Ads --------------------------------*/
.ads{
    // border: 1px solid red;
    padding:10px;
    img{
        width: 100%;
        margin: 5px 0px;
    }
}
///*---------------------------- Home --------------------------------*/
.home{
    display: block;
    width: 100%;
    .topBanner{
        color: #fff;
        margin:0px 0px 10px 0px;
        padding: 0px;
        text-align-last: left;
        img{
            width: 100%;
        }
        h4{
            position: absolute;
            color: #fff;
            top: 35%;
            padding: 5px;
            font-size: 18px;
        }
    }
}
///*---------------------------- About --------------------------------*/
.about{
    display: block;
    padding: 10px 15px;
    font-family: $Bfont-family;
    h1{
        font-size: $h1-fontSize;
        font-weight:bold;
        text-decoration: underline;
        text-shadow: 0 1px 3px rgba(0,0,0,.5);
    }
    h2{
        font-size: $h2-fontSize;
        color:#4285F4;
    }
    h3{
        font-size: $h3-fontSize;
        font-style: italic;
        font-weight: bold;
    }
    h4{
        font-size: $h4-fontSize;
        font-style: italic;
        color:#4285F4;
    }
    p{
        font-size: $p-fontSize;
    }
    img{
        width: 100%;
    }
    .FA{
        margin: 10px 0px;
    }
    .MA{
        margin: 10px 0px;
    }
    .ads-train{
        width: 100%;
        margin: auto;
        display: inline-block;
        text-align: center;
        img{
            width: 80%;
            height: 180px;
        }
    }
}
///*---------------------------- Categories --------------------------------*/
.categories{
    display:block;
    h1{
        text-align: center;
        text-decoration: underline;
        font-size: $h1-fontSize;
        text-shadow: 0 1px 3px rgba(0,0,0,.5);
    }
    .cate-ul{
        text-align: left;
        list-style: none;
        padding-left: 5%;
        li{
            padding: 10px;
            a{
                font-size: 20px;
                &:hover{

                }
            }
        }
    }


}
///*---------------------------- Articles --------------------------------*/
.articles{
    display:block;
    h1{
        text-align: center;
        font-size: $h1-fontSize;
        text-decoration: underline;
        text-shadow: 0 1px 3px rgba(0,0,0,.5);
        color: #626262;
    }
    ul{
        display: block;
        // list-style: none;
        li{
            h3{
                font-size: $h3-fontSize;
                font-style: italic;
                font-weight: bold;
            }
            p{
                font-size: 16px;
            }
            a{
                font-size: 16px;
                text-decoration: none;
                color: #626262;

            }
        }
    }
    .summary{
        font-size: 18px;
    }
    .readMore{
        color:green;
        text-decoration: none;
        font-size: 18px;
        &:hover{
            text-decoration: underline;
        }
    }
    img{
        width: 100%;
    }
    hr{
        color: #000;
        border: 1px solid #4285F4;
    }

}
///*---------------------------- Reviews --------------------------------*/
$reviewFont-size: 18px;
.review{
    display:block;
    // background-image: url('../images/cute_gsd.jpg');
    h1{
        font-size: $h1-fontSize;
        text-shadow: 0 1px 3px rgba(0,0,0,.5);
    }
    width: 100%;
    // border-top:3px double #000;
    // border-bottom:3px double #000;
    text-align: center;
    // background-color: #80aaff;
    // color: #fff;
    .owl-carousel1{
        text-decoration: underline;
        text-align: center;
        .item{
            width: 100%;
            display: inline-block;
            padding: 25px;
            border: 1px solid #626262;
            border-radius: 20px;
            margin-bottom: 5px;
            background-color:#fff;
            p{
                width: auto;
                font-size: $p-fontSize;
                .fa-star{
                    color: #FFD700;
                }
            }
            span{
                font-size: $reviewFont-size;
                text-align: right;
                color:red;
            }
        }
    }
}
///*---------------------------- Banner AD --------------------------------*/
.bannerAd{
    width: 100%;
    text-align: center;
    display: none;
    img{
        // width: 100%;
    }
}
///*---------------------------- Contact --------------------------------*/
.contact{
    display:block;
    text-align: center;
    // background-color: burlywood;
    padding: 5px;
    margin-bottom: 10px;
    h1{
        text-decoration: underline;
        font-family: $Ffont-family;
        font-weight: bold;
        text-align: center;
        font-size: $h1-fontSize;
        text-shadow: 0 1px 3px rgba(0,0,0,.5);
    }
    p{
        font-size: $p-fontSize;
        margin: 5px;
    }
    .email{
        font-size: 13px;
        color: #626262;
        text-decoration: underline;
        &:hover{
            color:#4285F4;
        }
    }
    hr{
        border:1px solid #4285F4;
        margin-bottom: 10px;

    }
    .connections{
        list-style: none;
        display: inline-block;
        padding:5px;
        margin: 0px;
        li{
            display: inline-block;
            text-align: center;
            margin: 0px 1px;
            a .fa{
                border: 2px solid #626262;
                padding: 10px;
                border-radius: 50%;
                width: 50px;
                color: #626262;
                font-size: 25px;
                margin: 0px 10px;
                &:hover{
                    border: 2px solid #fff;
                    color: #fff;
                }
            }
            a .fb{
                &:hover{
                    background-color: #3b5998;
                }
            }
            a .gp{
                &:hover{
                    background-color: #d34836;
                }
            }
            a .tw{
                &:hover{
                    background-color: #2cb2e4;
                }
            }
            a .pt{
                &:hover{
                    background-color: #C92228;
                }
            }
            a .yt{
                &:hover{
                    background-color: #e52d27;
                }
            }
        }
    }
}
///*---------------------------- Like Area --------------------------------*/
.likebox_area{
    width: 100%;
    display:block;
    margin: 10px 0px;
    .like-box{
        margin:5px auto;
        text-align: center;
        .btn .fa{
            font-weight: bold;
            color: #fff;
            width: 20px;
            text-align: center;
        }
        .fb{
            background-color: #3b5998;
            color: #fff;

        }
        .tw{
            background-color: #2cb2e4;
            color: #fff;

        }
        .gp{
            background-color: #d34836;
            color: #fff;

        }

    }
}



// /* ---------------------------Media Queries -----------------------------*/
@media only screen and (min-width: 1024px) and (min-width: 1200px) {
    .header1{
        .banner{
            text-align: center;
            img{
                width: 20%;
            }
            .bannerText{
                font-size: 30px;
                margin-bottom: 10px;
            }
            hr{
                width: 80%;
                display: block;
                margin: 0px auto;
            }
            .tagLine{
                display: block;
            }
        }
        .navbar{
            .navbar-nav{
                width: 70%;
            }
            .navbar-form{
                width: 30%;
                padding: 8px 5px;
                text-align: center;
                .form-group{
                    .form-control{
                        width: 80%;
                    }
                    .search{

                    }
                }

            }
        }
    }
    .home{
        .topBanner{
            img{
                height: 540px;
            }
            h4{
                font-size: 45px;
            }
        }
    }
    .about{
        p{
            font-size: 18px;
        }
    }
    .articles{
        ul li a{
            font-size: 18px;
            color: #626262;

        }
    }
    .categories{

    }
    .review{

    }
    .bannerAd{
        width: 100%;
        display: block;
        text-align: center;
        img{
            // width: 100%;
        }
    }
    .contact{
        hr{
            width: 80%;
            display: block;
            margin: 10px auto;
            border:1px solid #4285F4;
        }
    }
    .footer1{
        ul li{
            border-right: 1px solid #ddd;
            &:last-child{
                border-right: 0px solid #ddd;
            }
            a{
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
}

@media only screen and (max-width: 340px) and (min-width: 650px) {
    .home .topBanner .owl-carousel .owl-item h4{
        position: absolute;
        color: #fff;
        top: 15%;
        padding: 5px;
        font-size: 22px;
        vertical-align: top;
    }
}
