// Global font
$basicFontFamily:'Open Sans', sans-serif; //for headings
$contentFontFamily: Arial, Helvetica, sans-serif; //for content
$specialFontFamily:"Palatino Linotype", "Book Antiqua", Palatino, serif; //for special indications
$navFont:'Open Sans', sans-serif; // for Navigation

$fontSize1: 24px;
$fontSize2: 22px;
$fontSize3: 20px;
$fontSize4: 18px;
$fontSize5: 16px;
$nav-fontSize:16px;
$navActive-fontSize:18px;
$copyRight-fontSize:14px;
$reviewFont-size: 16px;
$Bfont-size: 12px;

$color1:#fff; // white color
$color2:#626262; // grey color
$color3:#4285F4; // fantastic blue
$color4:#337ab7; // dark blue
$readMoreColor: green;
$txtShadow: 0 1px 2px rgba(0,0,0,.5);

*{
    padding: 0px;
    margin: 0px;
}
a{
    cursor: pointer;
}
.container-fluid{
    padding: 0px;
    margin: 0px;
}
.site-wrapper{
}
.row{
    margin: auto;
}
.well{
    margin:10px 1%;
    width: 98%;
    border: 1px solid #626262;
}
//=====================================Header========================================
.header1{
    // border-bottom: 2px solid red;
    box-shadow: 0px 26px 30px -20px #dddddd;
    margin-bottom: 10px;
    .banner{
        display: block;
        width: 100%;
        text-align: center;
        img{
            width: 50%;
            margin: 10px;
        }
        .bannerText{
            color: #494444;
            // font-size: $fontSize1;
            font-size: 18px;
            font-family: $specialFontFamily;
        }
        hr{
            border:1px solid #4285F4;
            display: none;
            margin: 5px 0px;
        }
        .tagLine{
            padding: 5px;
            color: #4285F4;
            font-size: $fontSize4;
            font-family: $specialFontFamily;
            font-style: italic;
            display: none;
        }
    }
    .navbar{
        margin-bottom: 1px;
        border-radius: 0px;
        background-color: #595959;
        .navbar-nav{
            text-align: center;
            width: 100%;
            margin:0px;
            li{
                // padding: 10px 20px;
                &:hover{
                    text-decoration: underline;
                }
                a{
                    font-size:$nav-fontSize;
                    font-family: $navFont;
                    font-weight: 300;
                    .fa-home{
                        color: $color1;
                    }

                }
            }
        }
        .navbar-form{
            display: inline-block;
            background-color: #4285F4;
            margin: 0px;
            width: 100%;
            // border: 1px solid #101010;
            .form-group{
                .form-control{
                    width: 84%;
                    display: inline-block;
                    float: left;
                    margin-right: 2px;
                    font-size:$nav-fontSize;
                    font-family: $navFont;
                    font-weight: 300;
                }
                .search{
                    // width: 20%;
                    display: inline-block;
                    float: right;
                }
            }
        }
    }
    .navbar-inverse .navbar-nav>.active>a{
        font-size:$navActive-fontSize;
        background-color: #595959;

    }
}
///*=================================Footer===========================================*/
.footer1{
    width: 100%;
    color: $color3;
    .footerLinks{
        background-color: #383636;
        border: 1px 0px solid #eee;
        width: 100%;
        color: $color3;
        height: auto;
        text-align: center;
        margin: 0px;
        ul{
            display: inline-block;
            padding: 10px;
            margin: 0px;
            width: 100%;
            li{
                display: inline-block;
                padding: 5px;
                &:nth-child(odd){
                    // border-right: 0px;
                    border-right: 1px solid #ddd;
                }
                a{
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 15px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .copyRight{
        background-color: #101010;
        height: auto;
        padding: 5px;
        text-align: center;
        width: 100%;
        font-family: $specialFontFamily;
        color: $color1;

    }
}
///*---------------------------- Ads --------------------------------*/
.ads{
    // border: 1px solid red;
    padding:10px;
    img{
        width: 100%;
        margin: 5px 0px;
    }
}
///*---------------------------- Home --------------------------------*/
.home{
    display: block;
    width: 100%;
    .topBanner{
        color: $color1;
        margin:0px 0px 10px 0px;
        padding: 0px;
        text-align-last: left;
        img{
            width: 100%;
        }
        h4{
            position: absolute;
            color: $color1;
            top: 35%;
            padding: 5px;
            font-size: 18px;
        }
        p{
            a{
                position: absolute;
                color: $color1;
                top: 58%;
                padding: 5px;
                font-size: 10px;
                &:hover{
                    text-decoration: none;
                }
            }

        }
    }
}
///*---------------------------- About --------------------------------*/
.about{
    display: block;
    padding: 10px 15px;
    font-family: $contentFontFamily;
    h1{
        font-family: $basicFontFamily;
        font-size: $fontSize1;
        text-shadow: $txtShadow;
        font-weight:300;
        text-decoration: underline;
        color:$color2;
        margin: 20px 0px;
    }
    h2{
        font-family: $basicFontFamily;
        font-size: $fontSize2;
    }
    h3{
        font-size: $fontSize3;
        font-family: $basicFontFamily;
        font-style: italic;
        font-weight: bold;
    }
    h4{
        font-family: $basicFontFamily;
        font-size: $fontSize4;
        // text-shadow:$txtShadow;
        text-align: center;
        font-style: italic;
        color:#4285F4;
    }
    p{
        font-size: $fontSize5;
        .heading{
            font-size: $fontSize4;
            font-weight: bold;
        }
    }
    img{
        width: 100%;
    }
    .FA{
        margin: 10px 0px;
    }
    .MA{
        margin: 10px 0px;
    }
    .ads-train{
        width: 100%;
        margin: auto;
        display: inline-block;
        text-align: center;
        img{
            width: 80%;
            height: 180px;
        }
    }
}
///*---------------------------- Categories --------------------------------*/
.categories{
    display:block;
    h1{
        font-family: $basicFontFamily;
        font-size: $fontSize1;
        font-weight: 300;
        margin: 20px 0px;
        text-align: center;
        text-decoration: underline;
        text-shadow:$txtShadow;
    }
    .cate-ul{
        text-align: left;
        list-style: none;
        padding-left: 5%;
        li{
            padding: 5px;
            a{
                font-size: $fontSize3;
                color: $color3;
                &:hover{
                    font-size: $fontSize3;
                    color: $color4;
                }
            }
        }
    }
}
///*---------------------------- Articles --------------------------------*/
.articles{
    display:block;
    h1{
        font-family: $basicFontFamily;
        font-size: $fontSize1;
        text-shadow: $txtShadow;
        color:$color2;
        font-weight: 100;
        text-align: center;
        text-decoration: underline;
        margin: 20px 0px;
    }
    ul{
        display: block;
        // list-style: none;
        li{
            margin:10px 0px;
            h3{
                font-family: $basicFontFamily;
                font-size: $fontSize4;
                font-style: italic;
                font-weight: 200;
            }
            p{
                font-family: $contentFontFamily;
                font-size: $fontSize5;
            }
            a{
                font-size: $fontSize5;
                text-decoration: none;
                color:$color2;

            }
        }
    }
    .summary{
        font-size: $fontSize5;
    }
    .readMore{
        color:$readMoreColor;
        text-decoration: none;
        font-size: 18px;
        margin:10px 0px;
        &:hover{
            text-decoration: underline;
        }
    }
    img{
        width: 100%;
    }
    hr{
        color: #000;
        border: 1px solid $color3;
    }

}
///*---------------------------- Reviews --------------------------------*/

.review{
    display:block;
    // background-image: url('../images/cute_gsd.jpg');
    h1{
        font-family: $basicFontFamily;
        font-size: $fontSize1;
        text-shadow: $txtShadow;
        color: $color2;
        text-decoration: underline;
    }
    width: 100%;
    text-align: center;
    .owl-carousel1{
        text-decoration: underline;
        text-align: center;
        .item{
            width: 100%;
            display: inline-block;
            padding: 25px;
            border: 1px solid $color2;
            border-radius: 20px;
            margin-bottom: 5px;
            background-color:$color1;
            p{
                width: auto;
                font-family: $contentFontFamily;
                font-size: $fontSize5;
                .fa-star{
                    color: #FFD700;
                }
            }
            span{
                display: block;
                font-family: $specialFontFamily;
                font-size: $reviewFont-size;
                text-align: right;
                color:red;
            }
        }
    }
}
///*---------------------------- Banner AD --------------------------------*/
.bannerAd{
    width: 100%;
    text-align: center;
    display: none;
    img{
        // width: 100%;
    }
}
///*---------------------------- Contact --------------------------------*/
.contact{
    display:block;
    text-align: center;
    // background-color: burlywood;
    padding: 5px;
    margin-bottom: 10px;
    h1{
        text-decoration: underline;
        font-family: $basicFontFamily;
        font-size: $fontSize1;
        color: $color2;
        text-shadow: $txtShadow;
        font-weight: bold;
        text-align: center;
    }
    p{
        font-family: $contentFontFamily;
        font-size: $fontSize5;
        margin: 5px;
    }
    .email{
        font-family: $contentFontFamily;
        font-size: 13px;
        color: #626262;
        text-decoration: underline;
        &:hover{
            color:#4285F4;
        }
    }
    hr{
        border:1px solid #4285F4;
        margin-bottom: 10px;

    }
    .connections{
        list-style: none;
        display: inline-block;
        padding:5px;
        margin: 0px;
        li{
            display: inline-block;
            text-align: center;
            margin: 0px 1px;
            a .fa{
                border: 2px solid #626262;
                padding: 10px;
                border-radius: 50%;
                width: 50px;
                color: #626262;
                font-family: $contentFontFamily;
                font-size: 25px;
                margin: 0px 10px;
                &:hover{
                    border: 2px solid $color1;
                    color: $color1;
                }
            }
            a .fb{
                &:hover{
                    background-color: #3b5998;
                }
            }
            a .gp{
                &:hover{
                    background-color: #d34836;
                }
            }
            a .tw{
                &:hover{
                    background-color: #2cb2e4;
                }
            }
            a .pt{
                &:hover{
                    background-color: #C92228;
                }
            }
            a .yt{
                &:hover{
                    background-color: #e52d27;
                }
            }
        }
    }
}
///*---------------------------- Like Area --------------------------------*/
.likebox_area{
    width: 100%;
    display:block;
    margin: 10px 0px;
    .like-box{
        margin:5px auto;
        text-align: center;
        .btn .fa{
            font-weight: bold;
            color: $color1;
            width: 20px;
            text-align: center;
        }
        .fb{
            background-color: #3b5998;
            color: $color1;
        }
        .tw{
            background-color: #2cb2e4;
            color: $color1;
        }
        .gp{
            background-color: #d34836;
            color: $color1;
        }

    }
}
// /* ---------------------------Media Queries -----------------------------*/
@media only screen and (min-width: 1024px) and (min-width: 1200px) {
    .header1{
        .banner{
            text-align: center;
            img{
                width: 15%;
            }
            .bannerText{
                font-size: 30px;
                // font-size: $fontSize1;
                margin-bottom: 10px;
            }
            hr{
                width: 80%;
                display: block;
                margin: 0px auto;
            }
            .tagLine{
                // font-size: $fontSize1;
                display: block;
            }
        }
        .navbar{
            .navbar-nav{
                width: 70%;
            }
            .navbar-form{
                width: 30%;
                padding: 8px 5px;
                text-align: center;
                .form-group{
                    .form-control{
                        width: 80%;
                    }
                    .search{

                    }
                }

            }
        }
    }
    .home{
        .topBanner{
            img{
                height: 540px;
            }
            h4{
                font-size: 45px;
            }
            p a{
                top:56%;
                font-size: $fontSize5;
            }
        }
    }
        .about{
        p{
            font-size: $fontSize5;
        }
    }
    .articles{
        ul li a{
            font-size: 18px;
            color: #626262;

        }
    }
    .categories{
        .cate-ul{
            text-align: left;
            list-style: none;
            padding-left: 5%;
            li{
                padding: 10px;
            }
        }
    }
    .articles{

    }
    .review{

    }
    .bannerAd{
        width: 100%;
        display: block;
        text-align: center;
        margin: 10px;
        img{
            // width: 100%;
        }
    }
    .contact{
        hr{
            width: 80%;
            display: block;
            margin: 10px auto;
            border:1px solid #4285F4;
        }
    }
    .footer1{
        ul li{
            border-right: 1px solid #ddd;
            &:last-child{
                border-right: 0px solid #ddd;
            }
            a{
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
    .message{
        display: none;
        width: 500px;
        height: 300px;
        position: fixed;
        border: 1px solid green;
        background-color: #fff;
        padding: 10px;
        top: 50%;
        right: 0%;
        .closeBtn{
            cursor: pointer;
            text-align: right;
            padding: 0px 10px;
            width: 100%;
            font-weight: bold;
            border: 1px solid blue;
            color: red;
        }
        .messageArea{
            border: 1px solid red;
            width: 100%;
            height: 90%;
        }
    }
}

@media only screen and (max-width: 340px) and (min-width: 650px) {
    .home .topBanner .owl-carousel .owl-item h4{
        position: absolute;
        color: $color1;
        top: 15%;
        padding: 5px;
        font-size: 22px;
        vertical-align: top;
    }
}
